
html,
body {
	height:100%;
	background: url('../img/frontPage/sand-white.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.top-banner {
	position:relative;
	overflow:hidden;
	height:29%;
	width:80%
	padding-bottom: 1%;

}

.banner {
	margin-left:auto;
	margin-right:auto;
	position: relative;
	width:100%;
	height:100%;
	}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}


.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.7);
}



.img-left {
    float: none;
    margin: 0 auto 0;
}

.container {
	padding:0;
}

.nav-container {
	padding:0;
}


@media screen and (min-width:768px) {

	
	.img-responsive {
		display:block;
	}
	
    .navbar {
        border-radius: 0;

    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #00b1ac;
		opacity: 0.4;
    }

    .nav>li>a {
        padding: 25px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;

    }
	.navbar-default .nav li a {

		color: white;
	}
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

footer {
	margin-top:20px;
}

footer .container-footer{
    background-color:#fff;
    color:grey;
    text-align:center;
    padding:25px 0; 

}
